<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>
    Todo
</title>
<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css" />
<style type="text/css">
.template {display: none;}
</style>
</head>
<body>
<div id="header"></div>
<div class="container" id="main">
    <img src="/images/spinner.gif" width=96 height=96 />
    Loading, please wait ...
</div>
<div id="footer"></div>
<script type="text/html" id="welcome">
    <h1>Hello, <%= name %>!</h1>
    <button id='clicker'>Click me</button>
</script>
<script src="requirejs/require.js" data-main="javascript/config.js"></script>
</body>
</html>
